@-webkit-keyframes SkyAnimation {
  0% {
    background-position: 0% 78%;
  }
  50% {
    background-position: 100% 23%;
  }
  100% {
    background-position: 0% 78%;
  }
}
@-o-keyframes SkyAnimation {
  0% {
    background-position: 0% 78%;
  }
  50% {
    background-position: 100% 23%;
  }
  100% {
    background-position: 0% 78%;
  }
}
@keyframes SkyAnimation {
  0% {
    background-position: 0% 78%;
  }
  50% {
    background-position: 100% 23%;
  }
  100% {
    background-position: 0% 78%;
  }
}

@-webkit-keyframes StarBlink {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
@-o-keyframes StarBlink {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
@keyframes StarBlink {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
