@use "sass:map";

//COLORS
$green: #48bf84;
$darkGreen: #7fe6b3;

$white: #f4f4f4;

$pink: hotpink;
$darkPink: #f33192;
$darkestPink: #a30353;

$darkGray: #1e1e1e;
$black: #0a0a0a;

$gold: #fcd741;

:export {
  green: $green;
  darkGreen: $darkGreen;
  white: $white;

  pink: $pink;
  darkPink: $darkPink;
  darkestPink: $darkestPink;

  gold: $gold;

  black: $black;
  darkGray: $darkGray;
}
